<div id="xcld_message"></div>

<div id="xcld_blocks" class="ilFileDropTarget"></div>

<iframe id="cld_blank_target" name="cld_blank_target" src="" style="width:0;height:0;border:0px"></iframe>

<div id="loading_div_background">
    <div id="loading_div" class="ui-corner-all">
        <img id="loading_img" src="./Customizing/global/plugins/Services/Repository/RepositoryObject/CloudStorage/templates/images/loading.gif" alt="{PLEASE_WAIT_ALT}" />
        <div id="loading_text">{PLEASE_WAIT}</h2></div>
    </div>
</div>